<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel='stylesheet' href='css/main.css' />
</head>

<body>
    <div>
        <div><a href="/">Back</a></div>
        <form class="foam" method="post" action="/signup" id="foam">
            <label for="Name">Name</label>
            <input id="name" type="text" name="Name" class="d1">
            <br>
            <label for="Number">Number</label>
            <input type="number" id="number" name="Number" class="d2">
            <br>
            <label for="Email">Email-ID</label>
            <input type="email" id="email" name="Email" class="d3">
            <br>
            <label for="Password">Password</label>
            <input type="password" id="password" name="Password" class="d4">
            <br>
            <button id="submit" value="Submit" class="d5">Submit</button>
        </form>
    </div>
    <script src="../app.js"></script>
</body>

</html>